{% extends "base.html" %}
{% block title %}首頁{% endblock %}
{% block content %}
{% load filter %}
<div class="row">
    <div class="col-9">
        <h1>CSRF</h1>
    </div>
    <div class="col-3" style="text-align: center;background-color: #e3e3e381;width: 20%;height: 130px;border-radius: 15px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;margin: 0px 30px;">
        {% if missions_complete_count == missions_info|length %}
        <h2 style="margin: 15px;">Mission</h2>
        <span class="badge bg-success" style="margin: 0px 0px 15px;font-size: 22px;">
            Complete {{ missions_complete_count }}/{{ missions_info|length }}
        </span>
        {% else %}
        <h2 style="margin: 15px;">Mission</h2>
        <span class="badge bg-danger" style="margin: 0px 0px 15px;font-size: 22px;">
            InComplete {{ missions_complete_count }}/{{ missions_info|length }}
        </span>
        {% endif %}
    </div>
</div>
<hr>
<div class="card" style="margin: 20px 0px;">
    <div class="card-body">
        <h3 class="card-title">攻擊流程</h3>
        <br>
        <img src="https://tech-blog.cymetrics.io/img/posts/jo/zerobased-cross-site-request-forgery/p1-1280w.webp" alt="" width="50%"style="margin: 10px 0px;">
        <br>
        <ol>
            <li>User 訪問並登入 A 網站</li>
            <li>User 獲得 Cookie 並存至 User 瀏覽器</li>
            <li>User 在未登出 A 網站的情況下瀏覽 B 網站，接著 Hacker 以 B 網站的 Domain 以 A 網站給 User 的 Cookie 對 A 網站發送請求，如果 A 網站沒發現的話就 GG 了。</li>
        </ol>
        <h3>達成 CSRF 攻擊流程三要素</h3>
        <ol>
            <li>有一個可以觸發惡意腳本的動作</li>
            <li>只以單一條件驗證網站身份，例如：只驗證 cookie 或 token</li>
            <li>沒有驗證或是驗證的參數可以預測（固定的 cookie ）</li>
        </ol>
        <p>reference : <a href="https://blog.techbridge.cc/2017/02/25/csrf-introduction/">讓我們來談談 CSRF</a>、<a href="https://www.stackhawk.com/blog/django-csrf-protection-guide/">Django CSRF Protection Guide: Examples and How to Enable</a> 、 <a href="https://tech-blog.cymetrics.io/posts/jo/zerobased-cross-site-request-forgery/">零基礎資安系列（一）-認識 CSRF（Cross Site Request Forgery）</a></p>
    </div>
</div>
<div class="card" style="margin: 20px 0px;">
    <div class="card-body">
        <h3 class="card-title">Mission</h3>
        <hr>
        {% for mission_info in missions_info %}
        <ul>
            <li>
                <h5>{{ mission_info.mission.title }}</h4>
                    <hr>
                    <div class="card">
                        <div class="card-body">
                            <div class="row" style="align-items: center;">
                                <h5 class="card-title col-1" style="display: inline;">任務{{ forloop.counter }}</h5>
                                <div class="col-11">
                                    <div style="width: 110px;display: inline-block;text-align: center;">
                                        {% if mission_info.is_completed %}
                                        <span class="badge bg-success">
                                            <h6 style="margin: 0;">Complete</h6>
                                        </span>
                                        {% else %}
                                        <span class="badge bg-danger">
                                            <h6 style="margin: 0;">Incomplete</h6>
                                        </span>
                                        {% endif %}
                                    </div>
                                    <div style="width: 110px;display: inline-block;">
                                        <span class="badge text-bg-info" style="font-size: 16px;">嘗試次數:{{
                                            mission_info.attempts }}</span>
                                    </div>
                                    <div style="width: 185px;display: inline-block;">
                                        <span class="badge text-bg-warning" style="font-size: 16px;">最後提交:{{
                                            mission_info.last_attempt|formatTime }}</span>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">{{ mission_info.mission.description }}</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#{{ mission_info.mission.alias }}">
                                點我挑戰
                            </button>
                        </div>
                    </div>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock %}