{% extends "base.html" %}
{% block title %}Dev Elements{% endblock %}
{% block content%}
{% load filter %}
<div class="row">
  <div class="col-9">
    <h1>Elements</h1>
  </div>
  <div class="col-3" style="text-align: center;background-color: #e3e3e381;width: 20%;border-radius: 15px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    {% if missions_complete_count == missions_info|length %}
      <h2 style="margin: 15px;">Mission</h2>
      <span class="badge bg-success" style="margin: 15px;">
        <h4>complete {{ missions_complete_count }}/{{ missions_info|length }}</h4>
      </span>
    {% else %}
      <h2 style="margin: 15px;">Mission</h2>
      <span class="badge bg-danger" style="margin: 15px;">
        <h4>InComplete {{ missions_complete_count }}/{{ missions_info|length }}</h4>
      </span>
    {% endif %}
  </div>
</div>
{% for mission_info in missions_info %}
<ul>
  <li>
    <h5>{{ mission_info.mission.title }}</h4>
      <hr>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="display: inline;">任務{{ forloop.counter }}</h5>
          {% if mission_info.is_completed %}
            <span class="badge bg-success" style="margin: 15px;">
              <h6>Complete</h6>
            </span>
          {% else %}
            <span class="badge bg-danger" style="margin: 15px;">
              <h6>Incomplete</h6>
            </span>
          {% endif %}
          <span>嘗試次數:{{ mission_info.attempts }}</span>
          <p class="card-text">{{ mission_info.mission.description }}</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#{{ mission_info.mission.alias }}">
            點我挑戰
          </button>
        </div>
      </div>
  </li>
</ul>
{% endfor %}

<!-- modal視窗 -->
{% include 'modal_template.html' %}
<!-- ElementsComputed -->
<div class="modal fade" id="ElementsComputed" tabindex="-1" aria-labelledby="ElementsComputedLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ElementsComputedLabel"><strong>任務1</strong><br>查看元素大小、間距</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="modal-body">
          <p>請使用Chrome DevTools的Elements功能，查出這個矩形的實際寬度
            <br>
            <br>
            目標:請輸入矩形的實際寬度(不包括padding、border、margin)
          </p>
          <div id="computed-div"
            style="width: 200px; height: 100px; border: 1px solid #000; padding: 20px; margin: 10px; background-color: rgb(196, 196, 196);">
          </div>
          <div style="margin-top: 5%;">
            <label>答案：</label>&emsp;
            <input type="text" name="answer" class="form-control" style="width: 60%;display: inline;"
              placeholder="請輸入純數字，單位為px ex.123.45">
            <input type="hidden" name="question" value="ElementsComputed">
            <input type="hidden" name="mission_id" value="1">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">離開</button>
          <button type="button" class="btn btn-primary submit-btn">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- OverMaxLength -->
<div class="modal fade" id="OverMaxLength" tabindex="-1" aria-labelledby="OverMaxLengthLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="OverMaxLengthLabel"><strong>任務2</strong><br>查看元素大小、間距</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="modal-body">
          <p>請使用Chrome DevTools的Elements功能，送出超過輸入框限制長度的內容
            <br>
            <br>
            目標:請輸入超過輸入框限制長度的內容
          </p>
          <div style="margin-top: 5%;">
            <label>答案：</label>&emsp;
            <input type="text" name="answer" class="form-control" style="width: 60%;display: inline;" maxlength="10"
              placeholder="請輸入純數字，單位為px ex.123.45">
            <input type="hidden" name="question" value="OverMaxLength">
            <input type="hidden" name="mission_id" value="5">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">離開</button>
          <button type="button" class="btn btn-primary submit-btn">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    // 提交按鈕事件
    $(".submit-btn").click(function () {
      event.preventDefault();
      var id = $(this).parents(".modal").attr("id");
      var answer = getMissionAnswer(id);
      checkAnswer(id, answer);
    });

    // 取得任務答案
    function getMissionAnswer(id){
      switch (id) {
        case "ElementsComputed":
          return $("#computed-div").width();
        case "OverMaxLength":
          return 10;
        default:
          return 0;
      }
    }

    // 檢查答案
    function checkAnswer(id, answer) {
      var data = {
        input: $("#"+ id +" input[name='answer']").val(),
        answer: answer,
        question: $("#"+ id +" input[name='question']").val(),
        mission_id: $("#"+ id +" input[name='mission_id']").val(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
      };
      AjaxCheckAnswer(data, function (response) {
        $("#"+ id).modal("hide");
        var mission = $("#"+ id +"Label").text();
        if (response.isCorrect) {
          alertMissionComplete(mission);
        } else {
          alertMissionFail(mission);
        }
        window.location.reload();
      });
    }
  });
</script>
{% endblock %}