{% extends "base.html" %}
{% block title %}Dev Network{% endblock %}
{% block content%}
{% load filter %}
<a href="{% url 'Devtools' %}" class="btn" style="background-color: #575656ba;color:white;position:  absolute;left: 25px;">回上一頁</a>
<div class="row">
    <div class="col-9">
        <h1>Network</h1>
    </div>
    <div class="col-3" style="text-align: center;background-color: #e3e3e381;width: 20%;height: 130px;border-radius: 15px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;margin: 0px 30px;">
        {% if missions_complete_count == missions_info|length %}
        <h2 style="margin: 15px;">Mission</h2>
        <span class="badge bg-success" style="margin: 0px 0px 15px;font-size: 22px;">
            Complete {{ missions_complete_count }}/{{ missions_info|length }}
        </span>
        {% else %}
        <h2 style="margin: 15px;">Mission</h2>
        <span class="badge bg-danger" style="margin: 0px 0px 15px;font-size: 22px;">
            InComplete {{ missions_complete_count }}/{{ missions_info|length }}
        </span>
        {% endif %}
    </div>
</div>
<div class="card" style="margin: 20px 0px;">
    <div class="card-body">
        <h3 class="card-title">Mission</h3>
        <hr>
        {% for mission_info in missions_info %}
        <ul>
            <li>
                <h5>{{ mission_info.mission.title }}</h4>
                    <hr>
                    <div class="card">
                        <div class="card-body">
                            <div class="row" style="align-items: center;">
                                <h5 class="card-title col-1" style="display: inline;">任務{{ forloop.counter }}</h5>
                                <div class="col-11">
                                    <div style="width: 110px;display: inline-block;text-align: center;">
                                        {% if mission_info.is_completed %}
                                        <span class="badge bg-success">
                                            <h6 style="margin: 0;">Complete</h6>
                                        </span>
                                        {% else %}
                                        <span class="badge bg-danger">
                                            <h6 style="margin: 0;">Incomplete</h6>
                                        </span>
                                        {% endif %}
                                    </div>
                                    <div style="width: 110px;display: inline-block;">
                                        <span class="badge text-bg-info" style="font-size: 16px;">嘗試次數:{{mission_info.attempts }}</span>
                                    </div>
                                    <div style="width: 185px;display: inline-block;">
                                        <span class="badge text-bg-warning" style="font-size: 16px;">最後提交:{{mission_info.last_attempt|formatTime }}</span>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">{{ mission_info.mission.description }}</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#{{ mission_info.mission.alias }}">
                                點我挑戰
                            </button>
                        </div>
                    </div>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>

<!-- modal視窗 -->
{% include 'modal_template.html' %}
<!-- AjaxJsonResponse -->
<div class="modal fade" id="AjaxJsonResponse" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="AjaxJsonResponseLabel"><strong>任務1</strong><br>檢視API、AJAX網頁請求回應的詳細資訊</h4>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div style="margin: 0px 5px;">
                        <p>請使用Chrome DevTools的Network功能，查出回傳的天氣資訊</p>
                        <p>hint: 有些字被編碼了可以<a href="https://toolbox.googleapps.com/apps/encode_decode/" target="_blank">前往解碼</a>，選擇UTF16解碼</p>
                        <br>
                        <br>
                        <strong>目標:請輸入大安區2023/10/22 12:00-18:00的降雨機率</strong>
                        <br>
                        <br>
                        <button class="btn btn-primary" id="getAjaxResponse-btn">發送請求</button>
                    </div>
                    <div style="margin-top: 5%;">
                        <label>答案：</label>&emsp;
                        <input type="text" name="answer" class="form-control"
                            style="width: 60%;display: inline;" placeholder="請輸入純數字，單位為% ex.20">
                        <input type="hidden" name="question" value="AjaxJsonResponse">
                        <input type="hidden" name="mission_id" value="3">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">離開</button>
                    <button type="button" class="btn btn-success" id="submit-btn">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        // 發送請求按鈕事件
        $("#getAjaxResponse-btn").click(function () {
            event.preventDefault();
            getAjaxResponse();
        });

        // 提交按鈕事件
        $("#submit-btn").click(function () {
            event.preventDefault();
            checkAnswer();
        });

        // 取得Ajax回應
        function getAjaxResponse() {
            $.ajax({
                url: "{% url 'AjaxJsonResponse' %}",
                type: "POST",
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }

        // 檢查答案
        function checkAnswer() {
            var data = {
                input: $("input[name='answer']").val(),
                answer: 10,
                question: $("input[name='question']").val(),
                mission_id: $("input[name='mission_id']").val(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
            };
            AjaxCheckAnswer(data, function (response) {
                $("#AjaxJsonResponse").modal("hide");
                var mission = $("#AjaxJsonResponseLabel").text();
                if (response.isCorrect) {
                    alertMissionComplete(mission);
                } else {
                    alertMissionFail(mission);
                }
            });
        }
    });
</script>
{% endblock %}