{% extends "base.html" %}
{% block title %}Quiz{% endblock %}
{% block content%}
<h2>請在console中找出1的姓名</h2>
<input style="margin: 12px, 12px" class="form-control" type="text" />
<button class="btn btn-primary" id="check-btn">送出</button>

<h2>請輸入按鈕的元素大小</h2>
<div>
  <input style="margin: 12px, 12px" class="form-control" type="int" />
  <button class="btn btn-primary" id="download-btn">送出</button>
  <div id="output">
    <p id="resultText"></p>
  </div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="alertModalLabel">警告</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <!-- 这里放置你的警告消息内容 -->
              <p>这是一个警告消息。</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
          </div>
      </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    function question1() {
      console.log("Loading!");
      const artists = [
        {
          first: "René",
          last: "Magritte",
        },
        {
          first: "Chaim",
          last: "Soutine",
        },
        {
          first: "Henri",
          last: "Matisse",
        },
      ];
      console.table(artists);
    }
    question1();

    $("#check-btn").click(checkName);

    function checkName () {
      const userAnswer = document.getElementById("textInput").value;
      const correctAnswer = "Chaim,Soutine"; // 設定正確答案，這裡替換為你想要的答案

      const output = document.getElementById("output");
      const resultText = document.getElementById("resultText");

      if (userAnswer === correctAnswer) {
        resultText.textContent = "恭喜，答對了！";
      } else {
        resultText.textContent = "很抱歉，答案不正確。請再試一次。";
      }

      output.style.display = "block";
    };
    $("#alertModal").modal("show");

    function getAjaxResponse(){
      $.ajax({
        url: "{% url 'AjaxJsonResponse' %}",
        type: "POST",
        success: function(response){
          console.log(response);
        },
        error: function(error){
          console.log(error);
        }
      });
    }
    getAjaxResponse();
  });
</script>

<h2>請在console中找出x的數值</h2>

<p>
  https://developer.chrome.com/docs/devtools/console/
  將文字藏在console裡面，輸入正確答案才可以進入下一關
  設計一個funtion，在console呼叫他才會出現
  利用debugger製造斷點，比較好發現一些藏起來的東西
  一步一步看變數的變化，設計一個過程(加減乘除等運算)得到一個結果，最後輸入解答之類的\
  chrome element layout 輸入元素或者是border等等的正確數值才可以進入下一關
</p>

{% endblock %}