{% extends "accounts/AccountsBase.html" %}
{% block title %}登入{% endblock %}
{% block content %}
{% load static %}

<span id="login-password" style="display: none; color: rgb(255, 255, 255,0);"></span>
<div class="center">
	<h1>登入</h1>
	<form method="post" id="login-form">
		<div style="display: none;">
			<a href="{% url 'DownloadFile' %}" class="btn btn-primary" id="download-btn">下載</a>
		</div>
		{% csrf_token %}
		<div class="txt_field">
			{{ form.username }}
			<label>{{ form.username.label }}</label>
		</div>
		<div class="txt_field">
			{{ form.password }}
			<label>{{ form.password.label }}</label>
		</div>
		<div class="row">
			<div class="col-7">
				{{ form.remember_me }}
				<span></span>
				<label>{{ form.remember_me.label }}</label>
			</div>
		</div>
		{% if form.errors %}
		<div class="error text-danger">
			<ul>
				{% for field in form %}
				{% for error in field.errors %}
				<li>{{ error }}</li>
				{% endfor %}
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<br>
		<input type="submit" class="btn-submit" value="登入" /><br>
		<div class="signup_link">
			還不是會員嗎?<a href="{% url 'Register' %}">&nbsp註冊</a>
		</div>
	</form>
</div>

<script>
	$(document).ready(function() {
		$("#download-btn").mouseover(function() {
			alert("😈😈哈哈，不讓你下載！\n\n💡💡hint: 它被別的事件蓋住了！");
		});
		$("#download-btn").click(function() {
			$("#login-password").text("ntuemie1031");
		});
	});

</script>
{% endblock %}