{% extends "base.html" %} 
{% block title %}查詢{% endblock %} 
{% block content%}

<form action="" method="post">
  {% csrf_token %}
  <div>
    {{ form.name }}
    <label for="email">{{ form.name.label }}</label>
  </div>
  <div>
    {{ form.studentId }}
    <label for="email">{{ form.studentId.label }}</label>
  </div>
  <div>
    {{ form.gender }}
    <label for="gender">{{ form.gender.label }}</label>
  </div>
  <div>
    {{ form.subject }}
    <label for="subject">{{ form.subject.label }}</label>
  </div>

  <input type="submit" class="btn btn-success" value="查詢">
</form>

{% endblock %}
