{% extends "base.html" %}
{% block title %}新增{% endblock %}
{% block content%}
<h2>學生資料維護</h2>
<form action="" method="post">
  {% csrf_token %}
  <div class="form">
    <div class="row">
      <div class="text col-sm-4">
        <label for="user">{{ form.user.label }}</label>
        {{ form.user }}
      </div>
      <div class="text col-sm-4">
        <label for="user_name">{{ form.user_name.label }}</label>
        {{ form.user_name }}
      </div>
      <div class="text col-sm-4">
        <label for="gender">{{ form.gender.label }}</label>
        {{ form.gender }}
      </div>
    </div>
    <div class="row">
      <div class="text col-sm-6">
        <label for="email">{{ form.studentId.label }}</label>
        {{ form.studentId }}
      </div>
      <div class="text col-sm-6">
        <label for="birth_date">{{ form.birth_date.label }}</label>
        {{ form.birth_date }}
      </div>
    </div>
    <div class="text">
      <label for="phone_number">{{ form.phone_number.label }}</label>
      {{ form.phone_number }}
    </div>
    <div class="text">
      <label for="email">{{ form.email.label }}</label>
      {{ form.email }}
    </div>
    <div class="button">
      <input type="submit" class="btn btn-success" value="存檔">
    </div>

  </div>
</form>

{% endblock %}