{% extends "base.html" %}
{% block title %}新增{% endblock %}
{% block content%}

<form action="" method="post">
  {% csrf_token %}
  <div>
    {{ form.name }}
    <label for="email">{{ form.name.label }}</label>
  </div>
  <div>
    {{ form.studentId }}
    <label for="email">{{ form.studentId.label }}</label>
  </div>
  <div>
    {{ form.register_year }}
    <label for="register_year">{{ form.register_year.label }}</label>
  </div>
  <div>
    {{ form.phone_number }}
    <label for="phone_number">{{ form.phone_number.label }}</label>
  </div>
  <div>
    {{ form.email }}
    <label for="email">{{ form.email.label }}</label>
  </div>
  <div>
    {{ form.gender }}
    <label for="gender">{{ form.gender.label }}</label>
  </div>
  <div>
    {{ form.birth_date }}
    <label for="birth_date">{{ form.birth_date.label }}</label>
  </div>
  <div>
    {{ form.subject }}
    <label for="subject">{{ form.subject.label }}</label>
  </div>

  <input type="submit" class="btn btn-success" value="存檔">
</form>

{% endblock %}