{% extends "accounts/AccountsBase.html" %}
{% block title %}登入{% endblock %}
{% block content %}
{% load static %}

<span id="login-password" style="display: none; color: rgb(255, 255, 255,0);"></span>
<div class="center">
	<h1>登入</h1>
	<form method="post" id="login-form">
		{% csrf_token %}
		<div class="txt_field">
			{{ form.username }}
			<label>{{ form.username.label }}</label>
		</div>
		<div class="txt_field">
			{{ form.password }}
			<label>{{ form.password.label }}</label>
		</div>
		<div class="row">
			<div class="col-6">
				{{ form.remember_me }}
				<span></span>
				<label>{{ form.remember_me.label }}</label>
			</div>
			<div class="col-6" style="text-align: right;">
				<div style="display: none;">
					<a href="{% url 'DownloadFile' %}" class="btn btn-warning" id="download-btn">帳號底加啦～</a>
				</div>
			</div>
		</div>
		{% if form.errors %}
		<div class="error text-danger">
			<ul>
				{% for field in form %}
				{% for error in field.errors %}
				<li>{{ error }}</li>
				{% endfor %}
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<br>
		<input type="submit" class="btn-submit" value="登入" /><br>
		<div class="signup_link">
			還不是會員嗎?<a href="{% url 'Register' %}">&nbsp註冊</a>
		</div>
	</form>
</div>
<!-- modal -->
<div class="modal fade" id="Modal-info" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">⚠️ 警告</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>😈😈 哈哈，不讓你下載！</p>
				<p>💡💡 hint: 它被別的事件蓋住了！</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		const myModal = new bootstrap.Modal($('#Modal-info'));

		$("#download-btn").mouseover(function () {
			myModal.show();
		});

		$("#download-btn").click(function () {
			$("#login-password").text("ntuemie1031");
		});
	});


</script>
{% endblock %}